.tarBar
		display flex
		position fixed
		bottom 0
		left 0
		width 100%
		height 97px
		background-color #fff
		border-top 1px solid rgb(217, 217, 217)
		.tarBarItem
			display flex
			flex 1
			flex-direction column
			align-items center
			justify-content center
			.icon
				width	40px
				height	40px
				background-image:url('../images/tabBar.png')
				background-repeat no-repeat
				background-size 100% 
				&.icon-homePage
					background-position 0px -250px
				&.icon-category
					background-position 0px -150px
				&.icon-worth
					background-position 0px -350px
				&.icon-shoppingCart
					background-position 0px -50px
				&.icon-personal
					background-position 0px -450px
			span 
				margin-top 7px
				color #000
			&.active
				span 
					color #DD1A21
				.icon-homePage
					background-position 0px -200px
				.icon-category
					background-position 0px -100px
				.icon-worth
					background-position 0px -300px
				.icon-shoppingCart
					background-position 0px 0px
				.icon-personal
					background-position 0px -400px